<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <style>
      .otp-container input {
        width: 4rem;
        /* Square shape */
        height: 4rem;
        text-align: center;
        color: black;
        margin: 5px;
        font-size: 20px;
        border-radius: 4px;
      }
    </style>
  </head>

  <body>
    <div class="h-lvh bg-gradient-to-r from-txtPurple to-bgPurple">
      <!-- Overlay -->
      <div class="absolute inset-0 bg-black opacity-20"></div>

      <!-- Login Form -->
      <div class="flex flex-row justify-center items-center h-lvh">
        <div
          class="bg-black bg-opacity-50 backdrop-filter backdrop-blur-md h-auto w-[28%] rounded-3xl text-white p-14"
        >
          <h1 class="font-semibold text-3xl pb-2">Check your email</h1>
          <p>
            We’ll need you to verify your email address. We’ve sent a 4-digit
            code to <strong>{{email}}</strong> .
          </p>

          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}" style="color: red">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %}

          <form action="" method="POST" class="text-white">
            <div class="flex flex-col space-y-6 pt-5 tracking-wider text-lg">
              <input type="hidden" name="email" value="{{email}}" />

              <!-- Enter OTP -->
              <div class="otp-container flex justify-between">
                <input
                  type="text"
                  id="otp-1"
                  name="otp-1"
                  maxlength="1"
                  oninput="moveFocus(1)"
                />
                <input
                  type="text"
                  id="otp-2"
                  name="otp-2"
                  maxlength="1"
                  oninput="moveFocus(2)"
                />
                <input
                  type="text"
                  id="otp-3"
                  name="otp-3"
                  maxlength="1"
                  oninput="moveFocus(3)"
                />
                <input
                  type="text"
                  id="otp-4"
                  name="otp-4"
                  maxlength="1"
                  oninput="moveFocus(4)"
                />
              </div>

              <button
                class="bg-white h-10 text-black uppercase font-bold text-center rounded-[4px] pt-1"
                type="submit"
              >
                Continue
              </button>
              <a
                href="/login"
                class="bg-transparent h-12 text-white border-white border-2 uppercase font-bold text-center rounded-[4px] pt-2"
                type="submit"
                >Cancel
              </a>

              <!-- Others -->
              <div class="flex flex-row justify-between text-sm font-normal">
                <div>
                  <p>
                    Didn't receive the code?
                    <span
                      ><a href="?resend=true" class="text-txtPurple font-medium"
                        >Resend</a
                      >
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      function moveFocus(currentBox) {
        let inputBox = document.getElementById(`otp-${currentBox}`);
        let nextBox = document.getElementById(`otp-${currentBox + 1}`);
        let prevBox = document.getElementById(`otp-${currentBox - 1}`);

        // Enforce numeric input by replacing non-numeric characters
        inputBox.value = inputBox.value.replace(/[^0-9]/g, "");

        if (inputBox.value.length === 1) {
          if (nextBox) {
            nextBox.focus();
          }
        } else {
          if (prevBox) {
            prevBox.focus();
          }
        }
      }

      // Add event listeners to each input to handle paste and enforce numeric input
      document.addEventListener("DOMContentLoaded", function () {
        const inputs = document.querySelectorAll('input[type="text"]');
        inputs.forEach((input) => {
          input.addEventListener("input", function () {
            this.value = this.value.replace(/[^0-9]/g, "");
          });
        });
      });
    </script>
  </body>
</html>
